
<p>
  Song Title: <%= @track.song_title %>
</p>

<p>
  Author: <%= @track.author %>
</p>

<p>
  URL: <a href="<%= @track.url %>"><%= @track.url %></a>
</p>

<p>
  Created at: <%= @track.created_at %>
</p>

<hr/>
<a href="/tracks">Back to All Tracks</a>